.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

nav {
  display: flex;
  justify-content: center;
  background: coral;
  height: 10vh;
}

nav a {
  padding-top: 15px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
  font-size: 2em;
}

nav a:hover {
  color: bisque;
}


table {
  margin-top: 3vh;
  border-collapse: collapse;
}

table, th, td, tr {
  border: 1px solid coral;
}

#player-table {
  display: flex;
  justify-content: center;
}
#team-table {
  display: flex;
  justify-content: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
